@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Delicious+Handrawn&family=Fahkwang&family=Montserrat&family=Rubik:wght@300&family=Sigmar&display=swap");
/*
font-family: 'Bruno Ace SC', cursive;
font-family: 'Delicious Handrawn', cursive;
font-family: 'Fahkwang', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Sigmar', cursive;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.container {
  color: red;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-family: "Fahkwang", sans-serif;
}

.container::-webkit-scrollbar {
  display: none;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 3vh;
  left: 0;
  width: 100%;
  height: 3vh;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vh;
  font-family: "Rubik", sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
}

/* NAV LEFT */
nav .left {
  margin-left: 3vw;
}

nav .left a {
  margin: 0 0.75vw;
  margin-left: 0;
}

nav .left a:hover {
  text-decoration: underline;
  text-underline-offset: 1vh;
}

/* NAV RIGHT */

nav .right {
  margin-right: 3vw;
}

nav .right a::after {
  content: "PORTFOLIO";
  transition: all 2.3s ease-in-out;
}

nav .right a:hover::after {
  content: "HOME";
}

/* SLIDES */

.slides {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  color: white;
  scroll-snap-align: start;
}

.slides img {
  width: 350px;
}

.slides h2 {
  font-size: 8vw;
  font-weight: 600;
  max-width: 70%;
}

.slide0 {
  background: linear-gradient(180deg, lightblue, #9553ff);
}

.slide1 {
  background: linear-gradient(180deg, #9553ff, #4f4080);
}

.slide2 {
  background: linear-gradient(180deg, #4f4080, #9553ff);
}

.slide3 {
  background: linear-gradient(180deg, #9553ff, lightblue);
}

/* Home */

.blabla {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.otsikko {
  flex-direction: column;
  font-size: 8vw !important;
  font-family: "Fahkwang", sans-serif;
}

.smallLogo {
  width: 3vw;
  height: 3vw;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.smallLogo img {
  height: 100%;
  width: 100%;
  top: 15px;
  right: -20px;
  position: absolute;
}

.randomInfo {
  align-self: flex-end;
  max-width: 70%;
  font-size: 3vw;
}

/* About */

.slide1 .otsikko {
  align-self: center;
}

.about {
  display: flex;
  flex-direction: row;
  margin-right: 2vw;
}

.aboutMe {
  width: 60%;
  font-size: 3.5vh;
  margin-right: 1vw;
}

.aboutStuff {
  width: 40%;
  flex-direction: row;
  font-size: 3vh;
}

.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tags span {
  background-color: black;
  margin: 0vh 1vw 1vh 0vw;
  padding: 1vh 2vw;
  border-radius: 50px;
  font-size: 2vh;
}

/* Work */

#work .blabla {
  justify-content: center;
  align-items: center;
}

#work .about {
  font-size: 3vh;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#work a {
  text-decoration: none;
  color: white;
}

/* Contact */
#contact .blabla {
  justify-content: center;
  align-items: center;
}

#contact .about {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.logo img {
  max-height: 6vw;
  max-width: 6vw;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 3vh;
  left: 0;
  width: 100%;
  height: 3vh;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5vh;
  font-family: "Rubik", sans-serif;
}

footer .left {
  margin-left: 3vw;
}

footer .right {
  margin-right: 3vw;
}

footer .left a {
  text-decoration: none;
  color: white;
}

@media (max-width: 800px) {
  nav {
    font-size: 2vh;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }

  #aboutMe .aboutStuff {
    display: flex;
    flex-wrap: wrap;
  }

  .otsikko {
    font-size: 8vh;
  }

  .randomInfo {
    flex-wrap: wrap;
    font-size: 3vh;
    margin-right: 2vw;
  }

  .blabla {
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  #id {
    display: flex;
    flex-wrap: wrap;
  }

  .slide1 .otsikko {
    align-self: center;
  }

  .about {
    display: flex;
    flex-direction: row;
  }

  .aboutMe {
    flex-grow: initial;
    width: 60%;
    font-size: 3.5vw;
    margin-right: 1vw;
    padding-left: 2vw;
  }

  .aboutStuff {
    width: 40%;
    flex-direction: row;
    font-size: 3vw;
  }

  .tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .tags span {
    background-color: black;
    margin: 0vh 1vw 1vh 0vw;
    padding: 1vh 2vw;
    border-radius: 50px;
    font-size: 2vw;
  }

  footer {
    font-size: 2vh;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}
