:root {
  --work: #9553ff;
  --oma1-vaalsin: #243766;
  --oma2-tumsin: #0c0f3f;
  --oma3-vaalvihr: #ade7c5;
  --oma4-tumvihr: #5c93a1;
}

#hypertube {
  background: linear-gradient(180deg, var(--work), var(--oma1-vaalsin));
}

#matcha {
  background: linear-gradient(180deg, var(--oma1-vaalsin), var(--oma4-tumvihr));
}

#camagru {
  background: linear-gradient(
    180deg,
    var(--oma4-tumvihr),
    var(--oma3-vaalvihr)
  );
}

#citybike {
  background: linear-gradient(180deg, var(--oma3-vaalvihr), var(--oma2-tumsin));
}

#fdf {
  background: linear-gradient(180deg, var(--oma2-tumsin), var(--oma1-vaalsin));
}

#ft_printf {
  background: linear-gradient(180deg, var(--oma1-vaalsin), var(--work));
}

.blabla {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.otsikko {
  flex-direction: column;
  font-size: 8vw !important;
  font-family: "Fahkwang", sans-serif;
}

.otsikko a {
  text-decoration: none;
  color: white;
}

#work .about {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 3vw;
}

@media (max-width: 800px) {
  .otsikko {
    font-size: 8vh;
  }

  .blabla {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 10px;
  }

  #work .about {
    display: flex;
    flex-wrap: wrap;
    font-size: large;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10vw;
  }

  .aboutMe {
    width: 100%;
  }

  .aboutStuff {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 2vw;
  }

  .tags {
    padding: 0 2vw;
  }
}
