footer {
  border-top: 1px solid var(--deco-line);
  border-bottom: none;
  background-color: var(--primary);
}

.footer-content {
  width: min(90%, 1000px);
  height: 100%;
  border-left: 1px solid var(--deco-line);
  border-right: 1px solid var(--deco-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: var(--text-light);
  gap: 1rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;

  & a {
    transition: transform 0.25s ease-out;
  }

  & a:hover {
    transform: scale(1.5);
    color: var(--text);
  }
}
