.image-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.stacked-image {
  overflow: hidden;
  position: absolute;
  transform: translateY(-50%);
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid black;
  box-shadow: 0 8px 64px rgba(255, 255, 255, 0.125);

  & img {
    transition: transform 0.5s ease-in-out;

    height: 100%;
  }
}

.stacked-image img:hover {
  transform: scale(1.125);
}
